<div class="row">
    <div class="col-md-4 col-md-offset-1 border">
        <form name="loginUserForm">
            <label for="login-email">E-mail</label>
            <input type="email" id="login-email" class="form-control form" required="required" ng-model="loginUser.email" />
            <label for="login-password">Password</label>
            <input type="password" id="login-password" class="form-control form" required="required" ng-model="loginUser.password" />
            <button class="btn btn-primary" type="submit" ng-disabled="loginUserForm.$invalid" ng-click="login(loginUser)">Login</button>
        </form>
    </div>

    <div class="col-md-4 col-md-offset-2 border">
        <form name="registerUserForm">
            <label for="register-email">E-mail</label>
            <input type="email" id="register-email" class="form-control form" ng-model="registerUser.Email" required="required" />
            <label for="register-password">Password</label>
            <input type="password" id="register-password" class="form-control form" ng-model="registerUser.Password" required="required" minlength="6" maxlength="100"/>
            <label for="register-confirm-password">Confirm password</label>
            <input type="password" id="register-confirm-password" class="form-control form" ng-model="registerUser.ConfirmPassword" minlength="6" maxlength="100"/>
            <button class="btn btn-primary" type="submit" ng-disabled="registerUserForm.$invalid || registerUser.Password != registerUser.ConfirmPassword" ng-click="register(registerUser)">Register</button>
        </form>
    </div>
</div>