<div >
    <ul class="pagination">
        <li ng-class="{disabled: noPrevious()}">
            <a ng-click="selectFirst()">
                First
            </a>
        </li>
        <li ng-class="{disabled: noPrevious()}">
            <a ng-click="selectPrevious()">
                Previous
            </a>
        </li>
        <li ng-repeat="page in pages" ng-class="{active: isActive(page)}">
            <a ng-click="selectPage(page)">
                {{page}}
            </a>
        </li>
        <li ng-class="{disabled: noNext()}">
            <a ng-click="selectNext()">
                Next
            </a>
        </li>
        <li ng-class="{disabled: noNext()}">
            <a ng-click="selectLast()">
                Last
            </a>
        </li>
    </ul>
</div>
