<header>
    <h3 class="header-styles">
        Project Page
    </h3>
</header>
<div class="flex-elements">
    <div class="col-md-6">
        <div ng-if="isAdmin || currentUserId === project.currentProject.Lead.Id">
            {{project.currentProject.ProjectKey}}
            <button class="btn btn-primary button">
                <a href="#/projects/{{project.currentProject.Id}}/edit">Edit</a>
            </button>
            <button class="btn btn-primary button">
                <a href="#/projects/{{project.currentProject.Id}}/add-issue">Add Issue</a>
            </button>
        </div>
        <div>
            Project Key:
            {{project.currentProject.ProjectKey}}
        </div>
        <div>
            <span class="bold">Name</span>
            <input type="text" value="{{project.currentProject.Name}}" readonly="readonly">
        </div>
        <div>
            <span class="bold">Description</span>
            <input type="text" value="{{project.currentProject.Description}}" readonly="readonly" />
        </div>
        <div>
            <span class="bold">LeadId</span> ({{project.currentProject.Lead.Id}})
            <input type="text" value="{{project.currentProject.Lead.Username}}" readonly="readonly">
        </div>
        <div>
            Labels: <span ng-repeat="label in project.currentProject.Labels">{{label.Name}}, </span>
        </div>
        <div>
            Priorities: <span ng-repeat="priority in project.currentProject.Priorities">{{priority.Name}}, </span>
        </div>
    </div>

    <div class="table table-striped col-md-6 fixed">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Due Date</th>
                    <th>Assignee</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="currentIssue in issues.projectsIssues">
                    <td><a href="#/issues/{{currentIssue.Id}}">{{currentIssue.Title}}</a></td>
                    <td>{{currentIssue.Description}}</td>
                    <td>{{currentIssue.DueDate}}</td>
                    <td>{{currentIssue.Assignee.Username}}</td>
                </tr>
            </tbody>
        </table>

        <uib-pagination boundary-links="true" total-items="totalItems.projectsIssuesCount" items-per-page="pageSize.itemsPerPage" max-size="maxSize.paginationSize" ng-model="currentPage.projectsIssuesPage" ng-change="setProjectPage.setProjectsIssues()" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>

        <div>
            <button ng-click="showFilters=true" class="btn btn-primary button">Show All Issues Filters</button>
            <button ng-click="showFilters=false" class="btn btn-primary button">Hide All Issues Filters</button>
        </div>
        <div ng-show="showFilters" ng-hide="!showFilters">
            <div class="flex-filters">
                <label for="due-date">
                    Get issues by due date:
                    <input ng-model="search.DueDate" datetime="yyyy-MM-dd"  id="due-date" type="text" placeholder="yyyy-MM-dd">
                </label>
                <label for="assignee">
                    Get issues by due assignee username:
                    <input ng-model="search.Assignee.Username" id="assignee" type="text">
                </label>
            </div>
            <div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Due Date</th>
                        <th>Assignee</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="issue in allIssues.allIssues | filter:search">
                        <td><a href="#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
                        <td>{{issue.Description}}</td>
                        <td>{{issue.DueDate}}</td>
                        <td>{{issue.Assignee.Username}}</td>
                    </tr>
                    </tbody>
                </table>
                <uib-pagination boundary-links="true" total-items="totalItems.allIssuesCount" items-per-page="pageSize.itemsPerPage" max-size="maxSize.paginationSize" ng-model="currentPage.allIssuesPage" ng-change="setProjectPage.setAllIssues()" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
            </div>
        </div>
    </div>
</div>