<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <h3>
                        Projects
                    </h3>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in projects.projects">
                <td>
                    {{project.Name}}
                    <button class="btn btn-primary button">
                        <a href="#/projects/{{project.Id}}">View</a>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <!--<div pagination num-pages="numberOfPages" current-page="currentPage" max="5"></div>-->
    <uib-pagination boundary-links="true" total-items="totalItems.projectsCount" items-per-page="pageSize.itemsPerPage" max-size="maxSize.paginationSize" ng-model="currentPage.projectsPage" ng-change="setProjectsPage.setProjects()" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>

    <!--<button class="btn btn-primary button button-display">
        <a href="#/projects/add">Add new project</a>
    </button>-->

    <button class="btn btn-primary button button-display" ng-click="openAddProjectModal()">
        Add new project
    </button>
</div>