<div class="col-md-4 col-md-offset-2 border">
    <form name="changePasswordForm">
        <label for="old-password">Old Password</label>
        <input type="password" id="old-password" class="form-control form" ng-model="passwordData.OldPassword" required="required" />
        <label for="register-password">New Password</label>
        <input type="password" id="register-password" class="form-control form" ng-model="passwordData.NewPassword" required="required" minlength="6" maxlength="100"/>
        <label for="register-confirm-password">Confirm password</label>
        <input type="password" id="register-confirm-password" class="form-control form" ng-model="passwordData.ConfirmPassword" minlength="6" maxlength="100"/>
        <button ng-disabled="registerUserForm.$invalid || registerUser.Password != registerUser.ConfirmPassword" ng-click="changePassword(passwordData)" class="btn btn-primary" type="submit">Change Password</button>
        <button ng-click="back()" class="btn btn-primary" type="submit">Go Back</button>
    </form>
</div>