<div>
    <h2>Dashboard</h2>
    <table class="table table-striped">
        <thead>
            <th>
                <h3>Affiliated projects</h3>
            </th>
            <th>
                <h3>Issues</h3>
            </th>
        </thead>
        <tbody>
            <!--<tr>
                <td>
                    SIT
                </td>
                <td>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Project</th>
                                <th>Due Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Bad Request has no message describing the problem</td>
                                <td>Super</td>
                                <td>SIT</td>
                                <td>28/03/2016</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>-->
            <tr ng-repeat="issue in issues">
                <td class="project-name" style="vertical-align: middle">
                    {{issue.projectName}}
                </td>
                <td>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Project</th>
                                <th>Due Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="currentIssue in issue.issuesByProject">
                                <td>{{currentIssue.Title}}</td>
                                <td>{{currentIssue.Description}}</td>
                                <td>{{currentIssue.Project.Name}}</td>
                                <td>{{currentIssue.DueDate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</div>