<div>
    <h2>Dashboard</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <h3>Affiliated projects</h3>
                </th>
                <th>
                    <h3>Issues</h3>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="issue in issues">
                <td class="project-name" style="vertical-align: middle">
                    {{issue.projectName}}
                </td>
                <td>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Project</th>
                                <th>Due Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="currentIssue in issue.issuesByProject">
                                <td><a href="#/issues/:currentIssue.Id">{{currentIssue.Title}}</a></td>
                                <td>{{currentIssue.Description}}</td>
                                <td>{{currentIssue.Project.Name}}</td>
                                <td>{{currentIssue.DueDate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- todo make pagination -->
</div>